* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

/* Сброс кроссбраузерных стилей при оформлении форм  */

/* .hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

:active,
:hover,]
:focus {
  outline: 0;
  outline-offset: 0;
} */

.form {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 600px;
  outline: 1px solid red;
}
.form-field {
  position: relative;
  /* display: flex; */
  display: block;
  flex-direction: column;
  margin-bottom: 20px;
}
.form-label {
  position: absolute;
  margin-bottom: 5px;
}
.form-input {
  width: 100%;
  margin: 0;
  padding: 10px 20px 10px 42px;
  font-size: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form-field input::placeholder {
  /* Геометрия на этот псевдоэлемент не применяется */
  color: pink;
  text-align: end;
}
/* .fieldset {
  display: flex;
  align-items: center;
}
.fieldset > label {
  margin-right: 50px;
} */
.group {
  margin-bottom: 20px;
}
.group-command {
  margin-top: 0;
  margin-bottom: 20px;
}
.group-title {
  margin-top: 0;
  margin-bottom: 20px;
}
.topic-options,
.level-options {
  margin: 0;
  padding: 0;
  list-style: none;
}
.topic-options li {
  display: flex;
  align-items: center;
}
.topic-options input[type='checkbox'] {
  /* width: 40px;
  height: 40px; */
}
.topic-options label {
  font-size: 20px;
  margin-left: 10px;
}
.level-options {
}
textarea {
  resize: none;
  height: 100px;
}
.date {
  border-radius: 4px;
  padding: 20px 40px;
}
.feedback {
  padding: 8px;
}

/* Кроссбраузерное оформление метки */

/* .form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-25px);
  color: green;
} */
.form-label {
  position: absolute;
  top: 50;
  left: 42px;
  transform: translateY(50%);
  color: green;
  transition: transform 250ms linear;
}
.form-input {
  width: 100%;
  /* padding-left: 100px; */
  border-radius: 4px;
  border: 1px solid #2a2a2a;
}
.icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: tomato;
}
/* .form-input:focus ~ .icon {
  background-color: green;
} */

/* Современное оформление метки */

.form-field:focus-within > .icon {
  background-color: blue;
}
.form-field:focus-within > .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-25px);
}

/* Nested (No #id used */

/* Custom Checkbox */

.chckbx {
  width: 100%;
  outline: 1px solid green;
}
.checkbox {
  position: absolute;
  appearance: none;
}
.chckbx-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid red;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #ffffff;
}
.checkbox:checked + .chckbx-icon {
  border-color: green;
  background-color: blue;
  background-image: url('../images/svg/icon-check.svg');
  background-position: center;
  background-size: contain;
  background-origin: border-box;
}
.checkbox:checked ~ .chckbx-label {
  transform: translateX(20px);
}
