/* 

an+b: 
a - период цикла. Произвольное число.
n - счётчик цикла. Начинается с нуля и увеличивается на единицу на каждой итерации.
b - смещение. Произвольное число.

*/

ul,
li {
  list-style: none;
}
.item {
  outline: 1px solid teal;
}
.item:nth-last-child(-3n + 5) {
  background-color: tomato;
}
